* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    font-family: 'raleway';
    transition: all .3s linear;
  }

html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
  }

/*Contenedor logo*/
.contenedorLogo {
    font-family: 'raleway';
    background-image: url(../img/fondocepillos.jpg);
    background-size: cover;
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
/*Fin Contenedor logo*/



/*Main de la pagina de inicio*/
.mainInicio {
    background-color:#F7F6F0;
}

.tituloPrincipal{
    margin: 20px;
    font-family: 'raleway';
    font-size: 40px;
    color:#945684;
    text-align: center;
}

main{
    margin-top: 65px;
    background-color:#F7F6F0;
    margin-left: 10px;
    margin-right: 10px;
}
/*Fin Main de la pagina de inicio*/

/*Conocenos*/
.conocenosContenido{
    display: flex;
    flex-direction: row;
}

.contenido h1{
    text-transform: uppercase;
    font-family: 'raleway';
    color:#63A1B5;
    font-size:3rem;
    letter-spacing: .75rem;  
}

.conocenosContenido .contenido {
    background-color:#F7F6F0;
    font-family: 'raleway';
    color:#63A1B5;
    width: 500x;
    height: 330px;
    margin: 10px;
    text-align: center;
    color:#63A1B5;
    font-size: larger;
}
/*Fin Conocenos*/

/*Inicio Que hacemos*/
.mainQuehacemos{
    background-color:#63A1B5;
    margin: 10px;
    padding: 100px;
    display: grid;
    grid-template-areas: "parrafo parrafo parrafo"
                         "imagen1 imagen2 imagen3"
                         "imagen4 imagen5 imagen6";
    text-align: center;
}

.parrafo{
    grid-area: parrafo;
    text-align: center;
}
.imagen1{
    grid-area: imagen1;
}
.imagen2{
    grid-area: imagen2;
}
.imagen3{
    grid-area: imagen3;
}
.imagen4{
    grid-area: imagen4;
}
.imagen5{
    grid-area: imagen5;
}
.imagen6{
    grid-area: imagen6;
}
/*Fin Que hacemos*/

/*Inicio Charlemos*/
.mainCharlemos{
    margin-top: 65px;
    background-color:#F7F6F0;
    color:#63A1B5;
}

.mainCharlemos legend{
    font-family: 'raleway';
    font-size: xx-large;
    color:#63A1B5;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    text-align: center;
}
/*Fin Charlemos*/

/*Inicio Ubicacion*/
.mainUbicacion{
    margin-top: 65px;
    background-color:#F7F6F0;
}

.mainUbicacion h1{
    font-family: 'raleway';
    font-size: xx-large;
    color: #F7F6F0;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    text-align: center;
}
/*Fin Ubicacion*/

/*Inicio Footer*/
footer {
    font-family: 'raleway';
}

.flexContainer {
    display:flex;
    padding: 20px;
    flex-direction:column;
    justify-content: center;
}

.flexContainer div {
    text-align: center;
    margin: 30px;
}

.derechos {
    font-size: 10px;
}
/*Fin Footer*/

/*media*/
@media only screen and (max-width: 768px){
    body{
        background-color: aquamarine;
    }
    .mainQuehacemos{
        margin: 10px;
        padding: 200px;
        display: grid;
        grid-template-areas: "parrafo parrafo"
                             "imagen1 imagen2"
                             "imagen3 imagen4" 
                             "imagen5 imagen6";
        justify-content: center;
}

@media only screen and (max-width: 575px){
    body{
        background-color: rgb(255, 127, 227);
    }
    .mainQuehacemos{
        margin: 10px;
        padding: 200px;
        display: grid;
        grid-template-areas: "parrafo"
                             "imagen1"
                             "imagen2" 
                             "imagen3" 
                             "imagen4" 
                             "imagen5"
                             "imagen6";
    justify-content: center;
    }
}
/*Fin Media*/


    



